.custom-modal-title {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: Be Vietnam Pro;
  margin: 0;
}
.warning-icon {
  color: #f2a900;
  margin-right: 0.35rem;
}
.cart-validations {
  margin-bottom: 20px;
}
.validate-message {
  margin-bottom: 10px;
}
