.add-product-modal {
  min-width: 1300px;
  .modal-title {
    font-weight: bold;
    font-size: 18px;
  }
  .product-list {
    margin-bottom: 20px;
  }
}

.button-add {
  display: flex;
  margin-top: 20px;
  p {
    margin-left: 5px;
  }
}
