.selection-filter {
  display: flex;
  align-items: center;
  padding: 5px 7px;
  background: #f7f8fb;
  border-radius: 25px;
  gap: 10px;
  .selection-item {
    padding: 5px 7px;
    border-radius: 25px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .selection-item-actived {
    border: 1px solid #5b6673;
  }
}
